body {
    font-family : monospace ;
    font-size : 140% ;
    background-color : white ;
    color : #111 ;
    padding : 0em ;
    margin : 0% 10% ;
    display : block ;
}


a:link    { color : blue ; text-decoration : none ;      }
a:hover   { color : blue ; text-decoration : underline ; }
a:visited { color : blue ;                               }

h1 a { color : inherit !important }
h2 a { color : inherit !important }
h3 a { color : inherit !important }
h4 a { color : inherit !important }
h5 a { color : inherit !important }
h6 a { color : inherit !important }

pre {
    margin : 2em 1em 2em 4em ;
}

#menu li {
    display : inline ;
}
#menu ul {
    padding: 0;
    list-style-type: none;
}

#post-list {
    margin-bottom : 1em ;
    margin-top : 1em ;
    margin-left : 1em ;
}
